.TripInfo-Airline {
    min-width: 80px;
    -ms-flex: 2 1;
    flex: 2 1;
    border-left: 1px dashed #ebebee;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}

.TripInfo-Airline svg {
    margin-top: 25px;
    max-width: 18px;
    min-height: 18px;
}

.TripInfo-Airline big, .TripInfo-Airline small {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
}

.TripInfo-Airline big {
    min-height: 48px;
    font-weight: 600;
    line-height: 11px;
    color: #000;
    margin-bottom: 15px;
    white-space: pre-wrap;
}

.TripInfo-Airline small {
    min-height: 32px;
    margin-top: -26px;
    font-weight: 400;
    line-height: 1.2;
    color: #b6b6bc;
}