.Travel-Cities-Header {
    display: block;
    margin: 0 auto 40px;
    text-align: left;
    font-size: 20px;
    color: #000;
    width: 100%;
    max-width: 980px;
    // box-sizing: inherit;

    // Placeholder for logo and actual header - on desktop
    padding-top: 30px;

    @media (max-width: 640px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }
}