.Checkout-Form-Wrapper {
  display: flex;
  width: 100%;
  max-width: 1097px;
  margin: 0 auto;

  @media (max-width: 640px) {
    display: block;
    border-bottom: 60px solid #eee;
  }
}

.Agenda {
  color: #314358;
}

.Travel-List {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.Travel-List li {
  display: block;
}
