.TripInfo-Airports {
    padding: 10px 10px 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.TripInfo-Airport {
    flex: 3 1;
}

.TripInfo-Airport address {
    align-items: center;
    margin-top: -15px;
    font-size: 10px;
    font-weight: 400!important;
    letter-spacing: .3px!important;
    line-height: 1;
    color: #b6b6bc;
    white-space: pre-wrap;
    width: 85px;
    min-height: 36px;
}

.TripInfo-Airport big {
    margin-top: -8px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: normal;
    color: #000;
}

.TripInfo-Airport address, .TripInfo-Airport big {
    display: flex;
    font-style: normal;
    font-stretch: normal;
}

.TripInfo-Airport small {
    display: block;
    margin-top: -4px;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #000;
}