.City-Title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;

    @media (max-width: 640px) {
        margin-top: 0;
        margin-left: 20px;
    }
}

.City-Name {
    display: block;
    margin: 0;
    width: 206px;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: normal;
    color: #000;

    @media (max-width: 640px) {
        width: 200px;
    }
}

.City-Subtitle {
    display: block;
    margin: 0;
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b6b6bc;
}